//
//  dev.xcconfig
//  Runner
//
//  Created by Boris Karabanov on 15.08.2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"

bundle_suffix=.dev
name=Dev
